{% extends 'base.html.twig' %}

{% block title %}Item already pledged!{% endblock %}

{% block body %}
    <div class="row">
        <p class="text-danger">Thank you, but the chosen item was pledged already!</p>

        <p>Please try to pledge another item:</p>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Required by</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if items is empty %}
                    <tr>
                        <td colspan="4">All requested items have been pledged already.</td>
                    </tr>
                {% else %}
                    {% for item in items %}
                    <tr>
                        {% if item.url is empty %}
                        <td>{{ item.name }}</td>
                        {% else %}
                        <td><a href="{{ item.url }}" title="{{ item.url }}" target="_blank">{{ item.name }}</a></td>
                        {% endif %}
                        <td>{{ item.description }}</td>
                        <td>{{ item.due|date("d.m.Y")}}</td>
                        <td><a href="{{ path('pledge', {'id': item.id}) }}"><i class="fa fa-gift" aria-hidden="true"></i> click to pledge</a></td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
