{% extends 'base.html.twig' %}

{% block body %}
    {% if items is empty %}
    <div class="row">
        <div class="col-md-12">
            <p>Du hast noch keine Beiträge geleistet.</p>
            <p>Schau mal, <a href="{{ path('missing_items') }}">was noch fehlt</a>.</p>
        </div>
    </div>
    {% else %}
    <form id="cancel-pledge-form" name="cancel-plege" method="post" action="{{ path('cancel_pledge') }}">
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('cancel_item') }}">
            <input type="hidden" id="cancelled-item" name="cancelled-item">
            <p>Du hast zugesagt, folgende Gegenstände bzw. Dienstleistungen beizutragen:</p>

            <table class="table table-bordered table-striped typed-style">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Beschreibung</th>
                        <th>Benötigt bis</th>
                        <th><i class="fa fa-cog" aria-hidden="true"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pledgeditem in items %}
                    <tr>
                        {% if pledgeditem.url is empty %}
                        <td>{{ pledgeditem.name }}</td>
                        {% else %}
                        <td><a href="{{ pledgeditem.url }}" title="{{ pledgeditem.url }}" target="_blank">{{ pledgeditem.name }}</a></td>
                        {% endif %}
                        <td>{{ pledgeditem.description }}</td>
                        <td>{{ pledgeditem.due|date("d.m.Y")}}</td>
                        <td>
                            <div id="cancel-{{ pledgeditem.id }}" data-id="{{ pledgeditem.id }}" title="Ziehe Deinen Betrag zurück" class="cancel-pledge item-cancel" target="_blank">
                                <div class="jigsaw cancel-pledged">
                                    <span class="t cancel-pledged"></span>
                                    <span class="r cancel-pledged"></span>
                                    <span class="b cancel-pledged-inverse"></span>
                                    <span class="l cancel-pledged-inverse"></span>
                                    <span class="text">Storno</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <p>Schau, <a href="{{ path('missing_items') }}">welche Teile noch fehlen</a>.</p>
        </div>
    </div>
    <div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="cancel-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="cancel-modal-label" class="modal-title">Beitrag stornieren</h4>
                </div>
                <div class="modal-body">
                    <p>Möchtest Du wirklich Deinen Betrag zurückziehen?</p>
                </div>
                <div class="modal-footer">
                    <p>
                        <button id="cancel-submit-yes" class="btn btn-danger">Beitrag stornieren</button>
                        <button id="cancel-submit-no" class="btn btn-success">Nicht stornieren</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('.item-cancel').click(function () {
                $('#cancelled-item').val($(this).attr('data-id'));
                $('#cancel-modal').modal('show');
                return false;
            });
            $('#cancel-submit-yes').click(function () {
                $('#cancel-pledge-form').submit();
            });
            $('#cancel-submit-no').click(function () {
                $('#cancel-modal').modal('hide');
            });
        });
    </script>
{% endblock javascripts%}
