{% extends 'base.html.twig' %}

{% block title %}Thank You!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <p class="text-success">Thank you for pledging {{ item.name }}!</p>

            <p>You have pledged the following items:</p>

            <table class="table table-bordered table-striped item-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Required by</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pledgeditem in items %}
                    <tr>
                        {% if pledgeditem.url is empty %}
                        <td>{{ pledgeditem.name }}</td>
                        {% else %}
                        <td><a href="{{ pledgeditem.url }}" title="{{ pledgeditem.url }}" target="_blank">{{ pledgeditem.name }}</a></td>
                        {% endif %}
                        <td>{{ pledgeditem.description }}</td>
                        <td>{{ pledgeditem.due|date("d.m.Y")}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Check out the other <a href="{{ path('missing_items') }}">missing pieces</a>.</p>
        </div>
    </div>
{% endblock %}
