{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
<style type="text/css">
    #due-date-input {
        margin-top: 1em;
    }
</style>
{% endblock stylesheets %}

{% block body %}
<form id="edit-item-form" name="edit-item-form" method="post" action="{{ path('item_save') }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('edit-item') }}">
    <input type="hidden" name="item-id" value="{{ item.id }}">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="item-name">Name:</label>
                <input id="item-name" class="form-control" maxlength="255" type="text" name="item-name" value="{{ item.name }}">
            </div>
            <div class="form-group">
                <label for="item-description">Description:</label>
                <textarea id="item-description" class="form-control" maxlength="255" rows="5" name="item-description">{{ item.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="item-url">URL:</label>
                <input id="item-url" class="form-control" maxlength="255" type="text" name="item-url" value="{{ item.url }}">
            </div>
            <div class="form-group">
                <label for="item-due-date">Required by:</label>
                {%  if item.due is empty %}
                <div id="due-date-toggle">
                    <label class="checkbox-inline"><input id="item-due-date-none" type="checkbox" name="item-due-date-none" checked="checked">no due date</label>
                </div>
                <div id="due-date-input" class="form-group" style="display: none">
                    <div class='input-group date' id='item-due-date-input'>
                        <input id="item-due-date" type='text' class="form-control" name="item-due-date" data-default-date="{{ item.due|date('m/d/Y') }}" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                {% else %}
                <div id="due-date-toggle">
                    <label class="checkbox-inline"><input id="item-due-date-none" type="checkbox" name="item-due-date-none">no due date</label>
                </div>
                <div id="due-date-input" class="form-group">
                    <div class='input-group date' id='item-due-date-input'>
                        <input id="item-due-date" type='text' class="form-control" name="item-due-date" data-default-date="{{ item.due|date('m/d/Y') }}" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="item-contributor">Contributor:</label>
                <select class="form-control" id="item-contributor" name="item-contributor">
                    {% if item.contributor is empty %}
                        <option value="0" selected="selected">- not pledged yet -</option>
                    {% else %}
                        <option value="0">- not pledged yet -</option>
                    {% endif %}
                    {% for user in users %}
                        {% if item.contributor is not empty and user.username == item.contributor.username %}
                        <option value="{{ user.id }}" selected="selected">{{ getDisplayName(user) }}</option>
                        {% else %}
                        <option value="{{ user.id }}">{{ getDisplayName(user) }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-default btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock body %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('assets/vendor/moment/min/moment-with-locales.min.js') }}"></script>
<script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript">
    $(function () {
        $('#item-due-date-input').datetimepicker({
            locale: '{{ app.request.getLocale() }}',
            format: 'L',
            defaultDate: $('#item-due-date').attr('data-default-date')
        });
        $('#item-due-date-none').change(function () {
            var itemDueInput = $('#due-date-input');
            if (itemDueInput.is(":visible")) {
                itemDueInput.hide();
            } else {
                itemDueInput.show();
            }
        });
    });
</script>
{% endblock %}
