{% extends 'base.html.twig' %}

{% block body %}
<form id="missing-items-form" name="missing-items" method="post" action="{{ path('pledge') }}">
    <div class="row">
        <div class="col-md-12">
            <p>Hi! How nice of you to check out what we need to get the show going.
                Please help us by pledging to contribute items.</p>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('missing_items') }}">
                <input type="hidden" id="pledged-item" name="pledged-item">
                <input type="hidden" id="data-confirmed" name="data-confirmed">
                {% if user is not empty %}
                <input type="hidden" id="user-street-address-1" name="user-street-address-1" value="{{ user.streetAddress }}">
                <input type="hidden" id="user-street-address-1" name="user-street-address-2" value="{{ user.streetAddress2 }}">
                <input type="hidden" id="user-postal-code" name="user-postal-code" value="{{ user.postalCode }}">
                <input type="hidden" id="user-city" name="user-city" value="{{ user.city }}">
                <input type="hidden" id="user-country" name="user-country" value="{{ user.country }}">
                <input type="hidden" id="user-phone" name="user-phone" value="{{ user.phone }}">
                <input type="hidden" id="user-mobile" name="user-mobile" value="{{ user.mobile }}">
                {% endif %}
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Required by</th>
                            <th><i class="fa fa-cog" aria-hidden="true"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            {% if item.url is empty %}
                            <td>{{ item.name }}</td>
                            {% else %}
                            <td><a href="{{ item.url }}" title="{{ item.url }}" target="_blank">{{ item.name }}</a></td>
                            {% endif %}
                            <td>{{ item.description }}</td>
                            <td>
                                {% if item.due is not empty %}
                                    {{ item.due|date("d.m.Y")}}
                                {% else %}
                                    - no due date -
                                {% endif %}
                            </td>
                            <td><button id="pledge-{{ item.id }}" class="btn btn-xs btn-primary item-pledge" data-id="{{ item.id }}">Pledge item</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="my-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {% if user is empty %}
                <div class="modal-header">
                    <h4 class="modal-title" id="my-modal-label">Login required</h4>
                </div>
                <div class="modal-body">
                    <p>
                        To pledge an item you need to <a href="{{ path('fos_user_registration_register') }}">create an
                        account</a> or <a href="{{ path('fos_user_security_login') }}">login</a> with an existing
                        account.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default item-modal-close" data-dismiss="modal">Close</button>
                </div>
                {% else %}
                <div class="modal-header">
                    <h4 class="modal-title" id="my-modal-label">Please confirm you contact data</h4>
                </div>
                <div class="modal-body" id="dw-enlarged-img-container">
                    <div class="form-group has-feedback">
                        <label for="street-address-1">Street address</label>
                        <input required minlength="2" maxlength="255" data-error="Validation error" data-required-error="Street address is required" data-match-error="Steet address must have at least 2 characters" type="text" class="form-control" id="street-address-1" placeholder="1400 E Martin Luther King Jr" value="{{ user.streetAddress }}">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="street-address-2">Street address (additional line)</label>
                        <input  maxlength="255" type="text" class="form-control" id="street-address-2" value="{{ user.streetAddress2 }}">
                    </div>
                    <div class="form-group has-feedback">
                        <label for="postal-code">Postal Code</label>
                        <input required minlength="2" maxlength="30" data-error="Validation error" data-required-error="Postal code is required" data-match-error="Postal code must have at least 2 and maximum 30 characters" type="text" class="form-control" id="postal-code" placeholder="TX 78644" value="{{ user.postalCode }}">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="city">City</label>
                        <input required minlength="2" maxlength="255" data-error="Validation error" data-required-error="City is required" data-match-error="City must have at least 2 characters" type="text" class="form-control" id="city" placeholder="Lockhart, Mad Dog County" value="{{ user.city }}">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="country">Country</label>
                        <input required minlength="2" maxlength="255" data-error="Validation error" data-required-error="Country is required" data-match-error="Country must have at least 2 characters" type="text" class="form-control" id="country" placeholder="United States of America" value="{{ user.country }}">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="phone">Phone</label>
                        <input pattern="^\+{0,2}([\d\ \-\(\)])+" maxlength="50" data-error="Validation error" data-pattern-error="Phone number must not cotain invalid characters" type="tel" class="form-control" id="phone" placeholder="+1 512-398-3480" value="{{ user.phone }}">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="mobile">Mobile / Cellphone</label>
                        <input pattern="^\+{0,2}([\d\ \-\(\)])+" maxlength="50" data-error="Validation error" data-pattern-error="Mobile number must not cotain invalid characters" type="tel" class="form-control" id="mobile" placeholder="+1 732-757-2923" value="{{ user.mobile }}">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary data-confirm" data-dismiss="modal">Confirm</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/bootstrap-validator/dist/validator.min.js') }}"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            var missingItemsForm = $('#missing-items-form');
            missingItemsForm.validator();
            missingItemsForm.validator().on('submit', function (e) {
                if (e.isDefaultPrevented()) {
                    $('#contact-modal').modal('show');
                }
            });
            $('.item-pledge').click(function () {
                $('#pledged-item').val($(this).attr('data-id'));
                if (!$('#data-confirmed').val()) {
                    $('#contact-modal').modal('show');
                } else {

                    $('#missing-items-form').submit();
                }
            });
            $('#street-address-1').change(function () {
                $('#user-street-address-1').val(($(this).val()));
            });
            $('#street-address-2').change(function () {
                $('#user-street-address-2').val(($(this).val()));
            });
            $('#postal-code').change(function () {
                $('#user-postal-code').val(($(this).val()));
            });
            $('#city').change(function () {
                $('#user-city').val(($(this).val()));
            });
            $('#country').change(function () {
                $('#user-country').val(($(this).val()));
            });
            $('#phone').change(function () {
                $('#user-phone').val(($(this).val()));
            });
            $('#mobile').change(function () {
                $('#user-mobile').val(($(this).val()));
            });
            $('.data-confirm').click(function () {
                $('#data-confirmed').val(true);
            });
            $('.item-modal-close').click(function () {
                $(".dw-loaded-img").remove();
            });
        });
    </script>
{% endblock javascripts%}
