{% extends 'base.html.twig' %}

{% block body %}
<form id="missing-items-form" name="missing-items" method="post" action="{{ path('pledge') }}">
    <div class="row">
        <div class="col-md-12">
            <p>Hallo! Wie nett von Dir, dass Du Dich informierst, was uns fehlt, um die Show auf die Bühne zu bringen.
                Bitte hilf uns: Füge Dein Teil in das Puzzle ein und spende etwas.</p>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('missing_items') }}">
            <input type="hidden" id="pledged-item" name="pledged-item">
            <input type="hidden" id="data-confirmed" name="data-confirmed" value="{{ address_confirmed }}">
            {% if user is not empty %}
            <input type="hidden" id="user-street-address-1" name="user-street-address-1" value="{{ user.streetAddress }}">
            <input type="hidden" id="user-street-address-1" name="user-street-address-2" value="{{ user.streetAddress2 }}">
            <input type="hidden" id="user-postal-code" name="user-postal-code" value="{{ user.postalCode }}">
            <input type="hidden" id="user-city" name="user-city" value="{{ user.city }}">
            <input type="hidden" id="user-country" name="user-country" value="{{ user.country }}">
            <input type="hidden" id="user-phone" name="user-phone" value="{{ user.phone }}">
            <input type="hidden" id="user-mobile" name="user-mobile" value="{{ user.mobile }}">
            {% else %}
            <input type="hidden" id="user-not-authenticated" name="user-not-authenticated" value="true">
            {% endif %}
            <table class="table table-bordered table-striped typed-style">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Beschreibung</th>
                        <th>Benötigt bis</th>
                        <th><i class="fa fa-cog" aria-hidden="true"></i></th>
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}
                <tr>
                    {% if item.url is empty %}
                    <td>{{ item.name }}</td>
                    {% else %}
                    <td><a href="{{ item.url }}" title="{{ item.url }}" target="_blank">{{ item.name }}</a></td>
                    {% endif %}
                    <td>{{ item.description }}</td>
                    <td>
                    {% if item.due is not empty %}
                    {{ item.due|date("d.m.Y")}}
                    {% else %}
                    - ohne Termin -
                    {% endif %}
                    </td>
                    <td>
                        {% if item.contributor is empty %}
                        <div id="pledge-{{ item.id }}" class="jigsaw pledge item-pledge" data-id="{{ item.id }}">
                              <span class="t pledge"></span>
                              <span class="r pledge"></span>
                              <span class="b pledge-inverse"></span>
                              <span class="l pledge-inverse"></span>
                          <span class="text" title="Spende ein Teil des Puzzles">Spenden</span>
                        </div>
                        {% else %}
                        <div class="jigsaw pledged">
                              <span class="t pledged"></span>
                              <span class="r pledged"></span>
                              <span class="b pledged-inverse"></span>
                              <span class="l pledged-inverse"></span>
                          <span class="text" title="Gespendet von {{ getDisplayName(item.contributor, 1) }}">{{ getDisplayName(item.contributor, 1)|abbreviate }}</span>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="my-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {% if user is empty %}
                <div class="modal-header">
                    <h4 class="modal-title" id="my-modal-label">Anmeldung erforderlich</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Um zu verprechen, einen Gegenstand beizusteuern, musst Du ein
                        <a href="{{ path('fos_user_registration_register') }}">Benutzerkonto anlegen</a> oder dich mit
                        einem bestehenden Konto <a href="{{ path('fos_user_security_login') }}">anmelden.</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default item-modal-close" data-dismiss="modal">Schlie&szlig;en</button>
                </div>
                {% else %}
                <div class="modal-header">
                    <h4 class="modal-title" id="my-modal-label">Bitte bestätige Deine Kontaktinformationen.</h4>
                </div>
                <div class="modal-body" id="dw-enlarged-img-container">
                    <div class="form-group has-feedback">
                        <label for="street-address-1">Stra&szlig;e und Hausnummer</label>
                        <input required data-minlength="2" minlength="2" maxlength="255" data-error="Validierungsfehler" data-required-error="Straße ist ein Pflichtfeld" data-minlength-error="Die Straße muss wenigstens 2 Zeichen haben" data-match-error="Die Straße darf höchstens 255 Zeichen haben" type="text" class="form-control" id="street-address-1" placeholder="1400 E Martin Luther King Jr" value="{{ user.streetAddress }}">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="street-address-2">Stra&szlig;e und Hausnummer (zus&auml;tzlich)</label>
                        <input  maxlength="255" data-match-error="Die Straße darf höchstens 255 Zeichen haben" type="text" class="form-control" id="street-address-2" value="{{ user.streetAddress2 }}">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="postal-code">Postleitzahl</label>
                        <input required data-minlength="2" minlength="2" maxlength="30" data-error="Validierungsfehler" data-required-error="Postleitzahl ist ein Pflichtfeld" data-minlength-error="Die Postleitzahl muss mindestens 2 Zeichen haben" data-match-error="Die Postleitzahl darf höchstens 30 Zeichen haben" type="text" class="form-control" id="postal-code" placeholder="TX 78644" value="{{ user.postalCode }}">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="city">Ort</label>
                        <input required data-minlength="2" minlength="2" maxlength="255" data-error="Validierungsfehler" data-required-error="Stadt ist ein Pflichtfeld" data-minlength-error="Die Stadt muss mindestens 2 Zeichen haben" data-match-error="Die Stadt darf höchstens 255 Zeichen haben" type="text" class="form-control" id="city" placeholder="Lockhart, Mad Dog County" value="{{ user.city }}">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="country">Land</label>
                        <input required data-minlength="2" minlength="2" maxlength="255" data-error="Validierungsfehler" data-required-error="Land ist ein Pflichtfeld" data-minlength-error="Das Land muss mindestens 2 Zeichen haben" data-match-error="Das Land darf nicht mehr als 255 Zeichen haben" type="text" class="form-control" id="country" placeholder="United States of America" value="{{ user.country }}">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="phone">Telefon</label>
                        <input pattern="^\+{0,2}([\d\ \-\(\)])+" maxlength="50" data-error="Validierungsfehler" data-pattern-error="Die Telefonnummer darf nur gültige Zeichen enthalten" type="tel" class="form-control" id="phone" placeholder="+1 512-398-3480" value="{{ user.phone }}">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="mobile">Mobil</label>
                        <input pattern="^\+{0,2}([\d\ \-\(\)])+" maxlength="50" data-error="Validierungsfehler" data-pattern-error="Die Mobilnummer darf nur gültige Zeichen enthalten" type="tel" class="form-control" id="mobile" placeholder="+1 732-757-2923" value="{{ user.mobile }}">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary data-confirm" data-dismiss="modal">Best&auml;tigen</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/bootstrap-validator/dist/validator.min.js') }}"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            var missingItemsForm = $('#missing-items-form');
            missingItemsForm.validator();
            missingItemsForm.validator().on('submit', function (e) {
                if (e.isDefaultPrevented()) {
                    $('#contact-modal').modal('show');
                }
            });
            $('.item-pledge').click(function () {
                $('#pledged-item').val($(this).attr('data-id'));
                if (!$('#data-confirmed').val() || $('#user-not-authenticated').val()) {
                    $('#contact-modal').modal('show');
                    return false;
                } else {
                    $('#missing-items-form').submit();
                }
            });
            $('#street-address-1').change(function () {
                $('#user-street-address-1').val(($(this).val()));
            });
            $('#street-address-2').change(function () {
                $('#user-street-address-2').val(($(this).val()));
            });
            $('#postal-code').change(function () {
                $('#user-postal-code').val(($(this).val()));
            });
            $('#city').change(function () {
                $('#user-city').val(($(this).val()));
            });
            $('#country').change(function () {
                $('#user-country').val(($(this).val()));
            });
            $('#phone').change(function () {
                $('#user-phone').val(($(this).val()));
            });
            $('#mobile').change(function () {
                $('#user-mobile').val(($(this).val()));
            });
            $('.data-confirm').click(function () {
                $('#data-confirmed').val(true);
            });
            $('.item-modal-close').click(function () {
                $(".dw-loaded-img").remove();
            });
        });
    </script>
{% endblock javascripts%}
